body {
  margin: 2em;
}

.icon {
  height: 2.025rem;
  width: 2.025rem;
  padding: .325rem;
}

.accordion-toggle:hover{
  outline: none;
  text-decoration: none;
}

.accordion-toggle:focus{
  outline: none;
  text-decoration: none;
}

.panel-body{
  padding: 4px;
}

.list-group-item{
  padding: 0px;
}

.panel-heading:hover{
   background-color: #e3d2d2;
 }

.panel-content{
  padding: 4px;
  border: 1px solid #ccc;
}

.input-control{
  padding: 4px;
  display: inline-block;
  vertical-align:top;
}

.input-control label {
  display: block;
}

fieldset {
  border: 1px ridge #e3e3e3;
  padding: 4px;
}

legend{
  font: inherit;
  font-weight: bold;
  padding: 4px;
  margin-bottom: 0px;
  border: 0;
  width: auto;
}



.repo-template{
  min-width: 200px;
  width: 100%;
}

input[type=number] {
  text-align:right;
}

