.link{
    fill: none;
    stroke-width: 1.5px;
}

.selected{
    stroke-width: 2px;
}

circle {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 1.5px;
}

circle.selected{
    stroke: #f00
}

text {
    font: 10px sans-serif;
    pointer-events: none;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.ontologyParameters{
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    min-width: 300px;
    padding: 10px;
    height: 98%;
}

.parameterLabel {
    float:left;
    width:50%;
    margin-right:0.5em;
    padding-top:0.2em;
    text-align:right;
}

.parameterButton {
    float: right;
}

.infoLabel {
    display: inline-block;
    min-width: 200px;
    font: 12px sans-serif;
}

div.tooltip {
    position: absolute;
    padding: 2px;
    background-color: #f5f5f5;
    font: 12px sans-serif;
    border: 1px solid #666;
    pointer-events: none;
}

div.dotted {
    border: 1px dotted #666;
    margin: 2px;
    padding: 2px;
}

fieldset {
    border: 1px ridge #e3e3e3;
    font: 12px sans-serif bold;
}

div.group {
    border: 1px ridge #e3e3e3;
    padding: 10px;
}

legend{
    font-weight:bold;
}




