body {
    margin: 0;
    overflow: hidden;
}

.link{
    fill: none;
    stroke-width: 1.5px;
}

.solution{
    stroke-width: 6px;
}

circle {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 1.5px;
}

.selected{
    stroke-width: 2px;
}

circle.selected{
    stroke: #f00
}

rect.selected{
    stroke: #f00
}

path.selected{
    stroke: #f00
}

text {
    font: 10px sans-serif;
    pointer-events: none;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

div.tooltip {
    position: absolute;
    padding: 2px;
    background-color: #f5f5f5;
    font: 12px sans-serif;
    border: 1px solid #666;
    pointer-events: none;
}

div.dotted {
    border: 1px dotted #666;
    margin: 2px;
    padding: 2px;
}

*::selection {
    background:transparent;
}

*::-moz-selection {
    background:transparent;
}

*::-webkit-selection {
    background:transparent;
}

.box {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
}

.graph {
    position: fixed;
    top: 0px;
    margin-left: 350px;
}

.ui-tab-content, .ui-tabs-panel{overflow: auto;}



